<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>результаты поиск</title>
</head>
<body>
<main>
    <form action="/search_s/">      <!-- всё тоже самое, что и search_name -->
        <label for="c_skill">Поиск по навыкам<br></label>
        <input type="text" size="30" id="c_skill" name="skill" placeholder="Введите навык">
        <button>искать</button>
    </form>

    <h1>Найдено кандидатов с знанием {{skill}}: {{num_of_res}}</h1>
    {% for sk in search_skill_result %}
        <p><a href="/candidate/{{sk.id}}">{{sk.name}}</a></p>
    {% endfor %}


    <p> <a href="/">На главную</a> </p>

</main>
</body>
</html>